* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  height: 100%;
}

:root {
  --text: #F7F7F7;
  --text-muted: #C3C3C3;

  /* --background: #1e1e2e; */
  --background: #1f1f2f;
  --surface1: #181825;
  --surface2: #11111b;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: var(--text);
  background-color: var(--background);
  margin: auto;
}

a {
  text-decoration: none;
  padding-bottom: 0.1em;
}

a:link,
a:visited {
  color: var(--text);
}