@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}

html {
  overflow-y: overlay;
  height: -webkit-fill-available;
  height: stretch;
  height: fill-available;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

:root {
  color-scheme: dark;

  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;

  --surface0: #313244;
  --surface1: #45475a;
  --surface2: #585b70;

  --overlay0: #6c7086;
  --overlay1: #7f849c;
  --overlay2: #9399b2;

  --text: #cdd6f4;
  --subtext0: #a6adc8;
  --subtext1: #bac2de;

  --blue: #89b4fa;
  --latte-blue: #1e66f5;

  --success: #a6e3a1;
  --warning: #a6e3a1;
  --error: #f38ba8;
  --selection: rgba(88, 91, 112, 60%);

  --cursor: #f5e0dc;
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;

    --base: #eff1f5;
    --mantle: #e6e9ef;
    --crust: #dce0e8;

    --surface0: #ccd0da;
    --surface1: #bcc0cc;
    --surface2: #acb0be;

    --overlay0: #9ca0b0;
    --overlay1: #8c8fa1;
    --overlay2: #7c7f93;

    --text: #4c4f69;
    --subtext0: #6c6f85;
    --subtext1: #5c5f77;

    --blue: #1e66f5;
    --latte-blue: #1e66f5;

    --success: #40a02b;
    --warning: #df8e1d;
    --error: #d20f39;
    --selection: rgba(172, 176, 190, 60%);

    --cursor: #dc8a78;
  }
}

body {
  --horizontal-margin: 20%;

  background-color: var(--base);
  color: var(--text);

  margin: auto;
  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: stretch;
  min-height: fill-available;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

html {
  font-family: "Inter var", system-ui, sans-serif;
}

p {
  line-height: 1.75em;
  letter-spacing: 0.1px;
  margin: 1rem 0;
}

a {
  text-decoration: none;
  padding-bottom: 0.1em;
  color: var(--blue);
}

a:link,
a:visited {
  color: var(--text);
}

::selection {
  background-color: var(--selection);
}

@media screen and (max-width: 800px) {
  body {
    --horizontal-margin: 5%;
  }
}