@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  height: 100%;
}

:root {
  --text: #F7F7F7;
  --text-muted: #C3C3C3;

  /* --background: #1e1e2e; */
  --background: #1f1f2f;
  --surface1: #181825;
  --surface2: #11111b;
}

body {
  font-family: "Inter var", system-ui, sans-serif;
  line-height: 26px;
  letter-spacing: 0.1px;
  color: var(--text);
  background-color: var(--background);
  margin: auto;
}

a {
  text-decoration: none;
  padding-bottom: 0.1em;
}

a:link,
a:visited {
  color: var(--text);
}