html {
  height: 100%;
}

* {
	box-sizing: border-box;
}

body {
  background: linear-gradient(38deg, rgba(0,0,0,1) 0%, rgba(0,51,143,1) 55%, rgba(0,123,191,1) 100%);
  background-repeat: no-repeat;
  padding: 2em; 
  background-attachment: fixed;
  overflow-wrap: break-word;
  margin: 0;
  font-size: 1em;
}

.index {
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
}

#profile {
  display: block;
  justify-content: center;
  align-items: center;
  background: #181825;
  max-width: 30em;
  border-radius: 1em;
  margin: 0 auto;
  padding: 2em;
}

#profilepic {
  height: 8.7em;
  border-radius: 50%
}

#bio {
  font-weight: bold;
  margin: 0;
}

#pronouns {
  color: gray;
  padding: 1em;
}

#profile-items {
  padding: .5em 0 0 0;
  margin: 1.5em 0 0 0;
  letter-spacing: .5em;
}

#profile-items p {
  letter-spacing: normal;
}

#profile-items a {
  text-decoration: none;
}

#introduction {
  text-align: left;
}

#pronouncination {
  color: gray;
  font-style: italic;
}

@media (max-width: 500px) {
	body {
		font-size: 1em;
		padding: 1em;
	}
	main {
		padding: 1.5em;
	}
}