---
import Layout from "../../layouts/Layout.astro";
const allPosts = await Astro.glob('../posts/*.md');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---

<Layout title="TNT's Blog" description="Tag Index">
  <section id="tag-list">
    <h2>Tag Index</h2>
    <hr>
      {tags.map((tag) => <div id="tag"><p><a href={`/tags/${tag}`}>{tag}</a></p></div>)}
  </section> 
</Layout>

<style>
  #tag {
    background: #181825;
    border: #181825 1px solid;
    border-radius: 1em;
    margin: 1em;
    padding: 0.5em;
    cursor: pointer;
    position: relative;
  }

  #tag p {
    margin: 0;
    font-weight: 500;
    color: #fff;
  }

  #tag-list {
    margin: 0 auto;
    max-width: 900px;
    /* padding: 0 1rem; */
  }

  @media (max-width: 500px) {
    body {
      font-size: 1em;
    }
    #tag-list {
      padding: 0 1.5em;
    }
  }
</style>