---
import Layout from "../layouts/Layout.astro";
import CenteredCard from "../components/CenteredCard.astro";
---

<Layout title="404 Not Found" description="Are you lost?" nav="/">
  <CenteredCard maxWidth="30em" bgcolor="var(--mantle)">
    <h1>Oh no!</h1>
    <h3>That page was not found. (404)</h3>
    <p>
      You may have followed a broken link or this part of the site is under
      construction.
    </p>
    <p>Either way, click below to get back home!</p>
    <div id="homebutton-container">
      <h3>Home</h3>
      <a href="/">
        <span id="homebutton"></span>
      </a>
    </div>
  </CenteredCard>
</Layout>

<style>
  h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
  }

  #homebutton-container {
    padding: 2px;
    background-color: var(--latte-blue);
    border-radius: 0.5em;
    min-width: 7em;
    margin: 0 7em;
    cursor: pointer;
    position: relative;
    transition: 0.15s ease;
    transition-property: color,
  }

  #homebutton-container:hover {
    background-color: var(--selection);
  }

  #homebutton {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  @media screen and (max-width: 800px) {
    body {
      font-size: 1em;
    }
    main {
      padding: 1.5em;
    }
    #homebutton-container {
      margin: 0 5em;
    }
  }

  @media screen and (max-width: 400px) {
    #homebutton-container {
      margin: 0;
    }
  }
</style>
