---
import Layout from "../layouts/Layout.astro";
---

<script src="../scripts/erettsegi.ts"></script>

<Layout
  title="Érettségi"
  description="Hasznos eszközök a magyar érettségihez"
  nav="/"
>
  <section id="generator">
    <div id="generator-container" class="container">
      <h1>Érettségi link generátor</h1>
      <hr />
      <form action="">
        <label for="year">Év:</label>
        <select name="year" class="dropdown" id="year">
          <option value="2023">2023</option>
          <option value="2022">2022</option>
          <option value="2021">2021</option>
          <option value="2020">2020</option>
          <option value="2019">2019</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
          <option value="2015">2015</option>
          <option value="2014">2014</option>
          <option value="2013">2013</option>
          <option value="2012">2012</option>
          <option value="2011">2011</option>
          <option value="2010">2010</option>
          <option value="2009">2009</option>
          <option value="2008">2008</option>
          <option value="2007">2007</option>
          <option value="2006">2006</option>
          <option value="2005">2005</option>
        </select>
        <label for="period">Időszak:</label>
        <select name="period" class="dropdown" id="period">
          <option value="majus">május-június</option>
          <option value="oktober" id="oktober">október-november</option>
        </select>
        <label for="difficulty">Nehézségi szint:</label>
        <select name="difficulty" class="dropdown" id="difficulty">
          <option value="kozep">középszint</option>
          <option value="emelt">emelt szint</option>
        </select>
        <label for="subject">Tantárgy:</label>
        <select name="subject" class="dropdown" id="subject">
          <option value="magyir">Magyar nyelv és irodalom</option>
          <option value="mat">Matematika</option>
          <option value="tort">Történelem</option>
          <option value="angol">Angol nyelv</option>
          <option value="inf">Informatika (közismereti)</option>
          <option value="infoism" id="infoism"
            >Informatikai ismeretek (ágazati)</option
          >
        </select>
        <br />
        <input type="url" name="output" id="output" disabled />
        <br />
        <input type="button" value="Feladatlap" class="btn" id="task" />
        <input
          type="button"
          value="Forrásfájlok"
          class="btn"
          id="sourcefiles"
        />
        <input type="button" value="Javítókulcs" class="btn" id="solution" />
        <input
          type="button"
          value="Megoldás fájlok"
          class="btn"
          id="solutionfiles"
        />
      </form>
    </div>
  </section>
</Layout>

<style>
  body {
    overflow-wrap: break-word;
  }

  section {
    margin: 0 auto;
    padding: 1em;
  }

  #generator {
    background-color: var(--mantle);
  }

  .container {
    margin: 0 var(--horizontal-margin);
  }

  #countdown {
    color: #4cba51;
  }

  #generator-container > h1 {
    margin-bottom: 0;
  }

  .small {
    font-size: 0.9em;
    margin: 0;
  }

  h1 {
    font-size: 2em;
  }

  #output {
    margin-top: 1em;
    width: 100%;
  }

  .hidden {
    display: none;
  }

  form {
    margin: 1em auto;
  }

  @media (max-width: 1506px) {
    body {
      font-size: 1em;
    }

    main {
      padding: 1.5em;
    }

    .container {
      margin: 0 1em;
    }

    #érettségi-section {
      padding-bottom: 1em;
    }

    #countdown-intro {
      font-size: 1.5em;
    }

    #countdown {
      font-size: 1.5em;
    }

    #generator-container > h1 {
      font-size: 1.5em;
    }
  }
</style>
