---
import Layout from "../layouts/Layout.astro";
import Socials from "../components/Socials.astro";
---

<Layout title="YMSTNT" description="YMSTNT's personal site" nav="/">
  <div id="profile-section-wrapper">
    <section id="profile-section" class="h-card">
      <div id="profilepic-container">
        <img
          src="/tnt512.png"
          id="profilepic"
          alt="My profile picture"
          title="Hey there!"
        />
      </div>
      <h1 id="name">YMSTNT</h1>
      <a rel="me" href="https://ymstnt.com/" class="p-name u-url">YMSTNT</a>
      <img class="u-photo" src="/tnt512.png" />
      <div id="general-info">
        <p id="bio">
          CS student, aspiring sysadmin & front-end, casual gamer, aquarium
          lover
        </p>
        <span id="pronouns">he/him</span>
      </div>
      <Socials class="cocials"/>
      <hr />
      <div id="introduction">
        <p>
          Hi, I'm YMSTNT. <span
            id="pronouncination"
            title="You can also just call me TNT.">/waɪ-ɛm-ɛs-tiː-ɛn-tiː/</span
          >
        </p>
        <p class="p-note">
          I'm a university student passionate about software development and
          computer science. In my free time, I enjoy tinkering with technology
          (mainly Linux and servers), playing casual games, and caring for my
          aquarium.
        </p>
      </div>
    </section>
  </div>
</Layout>

<style>
  body {
    overflow-wrap: break-word;
    margin: 0;
    font-size: 1em;
  }

  #profile-section {
    display: block;
    justify-content: center;
    align-items: center;
    /* background: #181825; */
    background: var(--mantle);
    max-width: 30em;
    border-radius: 1em;
    margin: 2em auto;
    padding: 2em;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #profilepic {
    height: 8.7em;
    border-radius: 50%;
  }

  #bio {
    font-weight: bold;
    margin: 0;
  }

  #pronouns {
    color: var(--overlay1);
    padding: 0.5em;
  }

  #introduction {
    text-align: left;
  }

  #introduction p {
    margin-bottom: 0;
  }

  #pronouncination {
    color: var(--overlay1);
    font-style: italic;
  }

  .p-name, .u-photo {
    display: none;
  }

  @media screen and (max-width: 600px) {
    body {
      font-size: 1em;
    }
    main {
      padding: 1.5em;
    }
    #profile-section {
      margin: 2em;
      min-width: 15em;
      position: unset;
      left: unset;
      top: unset;
      transform: unset;
    }
    #profile-section-wrapper {
      padding: 2em 0;
    }
  }

  @media screen and (max-width: 280px) {
    #profile-section {
      margin: 1em;
      min-width: 15em;
    }
    #profile-section-wrapper {
      padding: 1em 0;
    }
  }

  @media (max-height: 700px) {
    #profile-section {
      position: unset;
      left: unset;
      top: unset;
      transform: unset;
    }
  }
</style>
