---
import Layout from "../layouts/Layout.astro";
import CenteredBody from "../components/CenteredBody.astro";
import { getCollection } from "astro:content";
import Navbar from "../components/Navbar.astro";
---

<Layout title="YMSTNT" description="My personal site">
  <CenteredBody>
    <section class="intro">
      <p>Hi, I'm YMSTNT. /waɪ-ɛm-ɛs-tiː-ɛn-tiː/</p>
      <p>I'm a university student passionate about software development and computer science. In my free time, I enjoy tinkering with technology (mainly Linux and servers), playing casual games, and caring for my aquarium.</p>
    </section>
  </CenteredBody>
</Layout>
