---
import Layout from "../layouts/Layout.astro";
---

<Layout title="YMSTNT" description="YMSTNT's personal site">
  <section id="profile-section">
      <div id="profilepic-container">
        <img
          src="/tnt512.png"
          id="profilepic"
          alt="My profile picture"
          title="Hey there!"
        />
      </div>
      <h1 id="name">YMSTNT</h1>
      <div id="general-info">
        <p id="bio">Student, computer enthusiast, (light) gamer</p>
        <a href="https://en.pronouns.page/he" id="pronouns">he/him</a>
      </div>
      <div id="profile-items">
        <a
          href="https://github.com/ymstnt"
          target="_blank"
          title="Github: ymstnt"
          rel="me"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-github"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#FFFFFF"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
            ></path>
          </svg>
        </a>
        <a
          href="https://steamcommunity.com/id/ymstnt"
          target="_blank"
          title="Steam: ymstnt"
          rel="me"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-steam"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#FFFFFF"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M16.5 5a4.5 4.5 0 1 1 -.653 8.953l-4.347 3.009l0 .038a3 3 0 0 1 -2.824 2.995l-.176 .005a3 3 0 0 1 -2.94 -2.402l-2.56 -1.098v-3.5l3.51 1.755a2.989 2.989 0 0 1 2.834 -.635l2.727 -3.818a4.5 4.5 0 0 1 4.429 -5.302z"
            ></path>
            <circle fill="currentColor" cx="16.5" cy="9.5" r="1"></circle>
          </svg>
        </a>
        <a
          href="https://reddit.com/u/ymstnt0"
          target="_blank"
          title="Reddit: u/ymstnt0"
          rel="me"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-reddit"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#FFFFFF"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M12 8c2.648 0 5.028 .826 6.675 2.14a2.5 2.5 0 0 1 2.326 4.36c0 3.59 -4.03 6.5 -9 6.5c-4.875 0 -8.845 -2.8 -9 -6.294l-1 -.206a2.5 2.5 0 0 1 2.326 -4.36c1.646 -1.313 4.026 -2.14 6.674 -2.14z"
            ></path>
            <path d="M12 8l1 -5l6 1"></path>
            <circle cx="19" cy="4" r="1"></circle>
            <circle cx="9" cy="13" r=".5" fill="currentColor"></circle>
            <circle cx="15" cy="13" r=".5" fill="currentColor"></circle>
            <path d="M10 17c.667 .333 1.333 .5 2 .5s1.333 -.167 2 -.5"></path>
          </svg>
        </a>
        <a
          title="Discord: YMSTNT#7422"
          href="https://discord.com/users/282565121673396224"
          target="_blank"
          rel="me"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-discord"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#FFFFFF"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <circle cx="9" cy="12" r="1"></circle>
            <circle cx="15" cy="12" r="1"></circle>
            <path d="M7.5 7.5c3.5 -1 5.5 -1 9 0"></path>
            <path d="M7 16.5c3.5 1 6.5 1 10 0"></path>
            <path
              d="M15.5 17c0 1 1.5 3 2 3c1.5 0 2.833 -1.667 3.5 -3c.667 -1.667 .5 -5.833 -1.5 -11.5c-1.457 -1.015 -3 -1.34 -4.5 -1.5l-1 2.5"
            ></path>
            <path
              d="M8.5 17c0 1 -1.356 3 -1.832 3c-1.429 0 -2.698 -1.667 -3.333 -3c-.635 -1.667 -.476 -5.833 1.428 -11.5c1.388 -1.015 2.782 -1.34 4.237 -1.5l1 2.5"
            ></path>
          </svg>
        </a>
      </div>
      <hr />
      <div id="introduction">
        <p>
          Hi, I'm YMSTNT. <span
            id="pronouncination"
            title="You can also just call me TNT.">/waɪ-ɛm-ɛs-tiː-ɛn-tiː/</span
          >
        </p>
        <p>
          I'm a high school student studying computer science, software
          development. My hobbies include tinkering with Linux, playing video
          games and aquariums.
        </p>
      </div>
  </section>
</Layout>

<style>
  body {
    background: linear-gradient(
      38deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 51, 143, 1) 55%,
      rgba(0, 123, 191, 1) 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-wrap: break-word;
    margin: 0;
    font-size: 1em;
  }

  #profile-section {
    display: block;
    justify-content: center;
    align-items: center;
    background: #181825;
    max-width: 30em;
    border-radius: 1em;
    margin: 2em auto;
    padding: 2em;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #profilepic {
    height: 8.7em;
    border-radius: 50%;
  }

  #bio {
    font-weight: bold;
    margin: 0;
  }

  #pronouns {
    color: gray;
    padding: 1em;
  }

  #profile-items {
    padding: 0.5em 0 0 0;
    margin: 1.5em 0 0 0;
    letter-spacing: 0.5em;
    user-select: none;
    -webkit-user-select: none;
  }

  #profile-items p {
    letter-spacing: normal;
    user-select: text;
    -webkit-user-select: text;
  }

  #profile-items a {
    text-decoration: none;
  }

  #introduction {
    text-align: left;
  }

  #pronouncination {
    color: gray;
    font-style: italic;
  }

  @media (max-width: 500px) {
    body {
      font-size: 1em;
    }
    main {
      padding: 1.5em;
    }
    #profile-section {
      margin: 2em;
      min-width: 15em
    }
  }
</style>
