---
import Layout from "../layouts/Layout.astro";
---

<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"
></script>
<Layout title="YMSTNT" description="YMSTNT's personal site">
  <section id="tesi-section">
    <div id="tesi">
      <p>Hátralévő tesik:</p>
      <h1 id="count"></h1>
      <label for="include-mondays">Hétfők:</label>
      <input
        type="checkbox"
        id="include-mondays"
        onchange="updateDays()"
        checked
      />
    </div>
  </section>
</Layout>

<script is:inline>
  function updateDays() {
    var start = moment();
    if (start.hours() > 16) {
      start.add(1, "day");
    }
    var end = moment("2023-04-28");

    var holidays = [
      moment("2023-01-01"),
      moment("2023-01-02"),
      moment("2023-01-03"),
      moment("2023-01-04"),
      moment("2023-01-05"),
      moment("2023-01-06"),
      moment("2023-03-15"),
      moment("2023-04-06"),
      moment("2023-04-07"),
      moment("2023-04-10"),
      moment("2023-04-11"),
      moment("2023-05-01"),
      moment("2023-05-29"),
    ];

    const includeMondays = document.querySelector("#include-mondays").checked;
    let days = 0;

    // Count the days
    for (let current = moment(start); current < end; current.add(1, "day")) {
      const dayOfWeek = current.day();
      // Skip saturday and sunday
      if (dayOfWeek == 6 || dayOfWeek == 0) continue;
      // Skip monday if include mondays is turned off
      if (!includeMondays && dayOfWeek == 1) continue;
      // Skip if holiday
      const isHoliday = holidays.some((holiday) =>
        current.isSame(holiday, "day")
      );
      if (isHoliday) continue;
      // Increment days when it passed all the previous checks
      days++;
    }

    document.querySelector("#count").innerHTML = days;
  }

  updateDays();
</script>

<style>
  html {
    height: 100%;
  }

  body {
    margin: 0;
    overflow-wrap: break-word;
  }

  #tesi-section {
    margin: 0 auto;
    max-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #tesi {
    justify-content: center;
    align-items: center;
    background: #181825;
    max-width: 20em;
    border-radius: 1em;
    padding: 2em;
    margin: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  @media (max-width: 500px) {
    body {
      font-size: 1em;
    }
    main {
      padding: 1.5em;
    }
    #tesi-section {
      left: unset;
      transform: unset;
      position: unset;
    }
  }
</style>
