---
import Layout from "../layouts/Layout.astro";
import CenteredCardContainer from "../components/CenteredCardContainer.astro";
---

<Layout
  title="ymstnt | Tesi"
  description="Tesi a legrosszabb tantárgy, mennyi van még hátra?"
  nav="/"
>
  <CenteredCardContainer maxWidth="500px">
    <div id="tesi">
      <p>Nincs több tesi óra!</p>
      <h1>🎉🎉🎉</h1>
    </div>
    <div id="in-memoriam">
      <h3 id="in-memoriam-title">In Memoriam</h3>
        <img
          src="/doboz.png"
          id="dobozimg"
          alt="Törött műanyag doboz címkével az oldalán, a teteje kicsit le van csúszva és a kitört darabok mellette feküdnek"
        />
        <h3 id="dobozname">Telefonos doboz</h3>
        <p class="small" id="livedate">2022.01.24 - 2023.03.24.</p>
        <p class="small">Nem élte túl az utolsó 4 hetet 😢</p>
      </div>
  </CenteredCardContainer>
</Layout>

<style>
  @font-face {
    font-family: 'Imperial Script';
    src: url('/fonts/ImperialScript-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  body {
    margin: 0;
    overflow-wrap: break-word;
  }

  #tesi {
    margin-bottom: 2em;
  }

  #tesi, #in-memoriam {
    justify-content: center;
    align-items: center;
    background: var(--mantle);
    max-width: 20em;
    border-radius: 1em;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #in-memoriam-title {
    font-family: "Imperial Script", cursive;
    font-weight: normal;
    font-size: 2em;
  }

  #dobozimg {
    width: 10em;
    height: 10em;
    margin-bottom: 0.5em;
  }

  #livedate {
    color: var(--overlay);
    margin-bottom: 0.5em;
  }

  #dobozname {
    margin-bottom: 0.5em;
  }

  p {
    font-size: 1.2em;
  }

  p,
  h1 {
    margin: 0.7em;
  }

  h3 {
    margin-top: 0;
  }

  .small {
    font-size: 0.9em;
    margin: 0;
  }

  h1 {
    font-size: 2em;
  }

  @media (max-width: 500px) {
    body {
      font-size: 1em;
    }
    main {
      padding: 1.5em;
    }
  }
</style>
