---
import Layout from "../layouts/Layout.astro";
---
<script src="../scripts/érettségi.ts"></script>

<Layout title="Érettségi 2023" description="Hasznos dolgok az érettségihez" nav="/">
  <section id="érettségi-section">
    <div id="intro-container">
      <h1 id="countdown-intro">A 2023-as májusi érettségiig hátralévő idő:</h1>
      <h1 id="countdown"></h1>
      <h2 id="when"></h2>
    </div>
    <div id="generator-container">
      <form action="">
        <label for="year">Év:</label>
        <select name="year" class="dropdown" id="year">
          <option value="2022">2022</option>
          <option value="2021">2021</option>
          <option value="2020">2020</option>
          <option value="2019">2019</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
          <option value="2015">2015</option>
          <option value="2014">2014</option>
          <option value="2013">2013</option>
          <option value="2012">2012</option>
          <option value="2011">2011</option>
          <option value="2010">2010</option>
          <option value="2009">2009</option>
          <option value="2008">2008</option>
          <option value="2007">2007</option>
          <option value="2006">2006</option>
          <option value="2005">2005</option>
        </select>
        <label for="period">Időszak:</label>
        <select name="period" class="dropdown" id="period">
          <option value="majus">május-június</option>
          <option value="oktober">október-november</option>
        </select>
        <label for="difficulty">Nehézségi szint:</label>
        <select name="difficulty" class="dropdown" id="difficulty">
          <option value="kozep">középszint</option>
          <option value="emelt">emelt szint</option>
        </select>
        <label for="subject">Tantárgy:</label>
        <select name="subject" class="dropdown" id="subject">
          <option value="magyir">Magyar nyelv és irodalom</option>
          <option value="mat">Matematika</option>
          <option value="tort">Történelem</option>
          <option value="angol">Angol nyelv</option>
          <option value="inf">Informatika (közismereti)</option>
          <option value="infoism" id="infoism">Informatikai ismeretek (ágazati)</option>
        </select>
        <br>
        <input type="url" name="output" id="output" disabled>
        <br>
        <input type="button" value="Feladatlap" class="btn" id="task">
        <input type="button" value="Forrásfájlok" class="btn" id="sourcefiles">
        <input type="button" value="Javítókulcs" class="btn" id="solution">
        <input type="button" value="Megoldás fájlok" class="btn" id="solutionfiles">
      </form>
    </div>
  </section>
</Layout>

<style>

  body {
    overflow-wrap: break-word;
  }

  #érettségi-section {
    margin: 0 auto;
    padding: 1em;
    background-color: var(--surface2);
  }

  #intro-container, #generator-container {
    margin: 0 var(--horizontal-margin);
  }

  #generator-container {
    margin-top: 1em;
  }

  #countdown {
    color: #4CBA51;
  }

  .small {
    font-size: 0.9em;
    margin: 0;
  }

  h1 {
    font-size: 2em;
  }

  #output {
    margin-top: 1em;
    width: 100%;
  }

  .hidden {
    display: none;
  }

  @media (max-width: 1506px) {
    body {
      font-size: 1em;
    }
    main {
      padding: 1.5em;
    }
    #érettségi-section {
      left: unset;
      transform: unset;
      position: unset;
      padding-bottom: 1em;
    }
    h1 {
      line-height: 1em;
    }
  }
</style>
