---
interface SettingProps {
  classes?: string;
  maxWidth: string;
}

export type Props = SettingProps;

const { classes, maxWidth } = Astro.props as SettingProps;
---

<div id="card-container">
  <div id="card" class={classes}>
     <slot/>
  </div>
</div>

<style define:vars={{maxWidth}}>
  #card {
    display: block;
    max-width: var(--maxWidth);
    margin: 2em auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (max-width: 600px) {
    #card {
      margin: 2em;
      min-width: 15em;
      position: unset;
      left: unset;
      top: unset;
      transform: unset;
    }
    #card-container {
      padding: 2em 0;
    }
  }

  @media screen and (max-width: 280px) {
    #card {
      margin: 1em;
    }
    #card-container {
      padding: 1em 0;
    }
  }

  @media (max-height: 700px) {
    #card {
      position: unset;
      left: unset;
      top: unset;
      transform: unset;
    }
  }
</style>