<div id="divider"></div>

<style>
  #divider {
    background: linear-gradient(
      90deg,
      rgba(0, 52, 141, 1) 0%,
      rgba(1, 84, 163, 1) 55%,
      rgba(5, 123, 187, 1) 100%
    );
    height: 0.3rem;
  }

  @media (prefers-color-scheme: light) {
    #divider {
      background: linear-gradient(
        90deg,
        rgba(3, 85, 162, 1) 0%,
        rgba(6, 107, 177, 1) 55%,
        rgba(8, 121, 184, 1) 100%
      );
    }
  }
</style>