---
const { nav } = Astro.props;
---

<nav>
  <div>
    <h1><a href="/" title="Home">YMSTNT</a></h1>
  </div>
  <div id="buttons">
    <a href="/">Home</a>
    <a href="/blog-legacy">Blog</a>
    <a href="/gepDrive">gepDrive</a>
  </div>
</nav>

<style>
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-height: 70px;
    padding: 0.1em;
    /* background-color: var(--mantle); */
  }

  #buttons {
    display: flex;
    gap: 1rem;
  }

  h1 {
    cursor: pointer;
  }

  h1 > a {
    text-decoration: none;
  }

  a {
    text-decoration: none;
    text-align: center;
    transition: 0.15s ease;
    transition-property: color text-decoration;
  }

  a:hover {
    color: var(--link-hover);
    text-decoration: underline;
  }

  @media only screen and (max-width: 600px) {
    nav {
      position: relative;
      flex-direction: column;
      max-height: 200px;
    }
    #buttons {
      margin-bottom: 1em;
    }
  }
</style>
